{% extends 'base.html.twig' %}

{% block title %}Nouvelle Équipe{% endblock %}

{% block body %}
	<div class="globalAjout">
		<div class="titreAjout">
			Ajouter une Équipe 
		</div>
		<div class="ajoutForm">
		
			{{ form_start(form) }}

		    <span class="test">{{ form_label(form.nom_equipe) }} &ensp;&nbsp; {{ form_widget(form.nom_equipe) }}</span>
            <small style="font-size:small;">{{ form_help(form.nom_equipe) }}</small>

			<span>{{ form_label(form.etudiantEquipe) }} {{ form_widget(form.etudiantEquipe) }} </span>
			<br /><br />
			
			<span>{{ form_label(form.enseignantEquipe) }} {{ form_widget(form.enseignantEquipe) }} </span>
			{{ form_widget(form) }}
				<button style="margin-left:80%;">{{ button_label|default('Ajouter') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
